<div id="chattyloo" >
  <ol id='messagesDiv' class="conversation collapse">  
  </ol>
  <input id='messageInput' class="conversation collapse" style="height:100px; width:380px;" placeholder='Message...'><br>
  <a href="javascript:$.pageslide.close()"><span class="btn btn-info">Done Chatting</span></a>
</div>  
<%= javascript_include_tag "jquery.pageslide" %>

<script>
  $(document).ready(function() {
      $(".second123").pageslide({ direction: "left", modal: true });
  });
</script>

<script>
 enableChat('<%= CHAT_BASE_REF%>', "<%= @list.chat_ref %>", "<%= current_user.full_name %>", "<%= @list.chat_auth_token %>");
  // enableChat('<%= CHAT_BASE_REF%>', "<%= @list.chat_ref %>", "<%= current_user.first_name %>", "<%= @chat_auth_token %>");
</script>
