<% 

if current_user.id == @list.id
	tasks = @list.tasks.completed
else
	tasks = @list.tasks.completes(@list.id, current_user.id)
end
#tasks = @list.tasks.completes(@list.id, current_user.id)
tasks.each do |task| %> 
    <li id="incomp-task-<%= task.id %>">
    	<span>
	    	<%= form_tag({:controller => 'tasks', :action => 'incomplete', :list_id => @list.id, :id => task.id}, :remote => true) do |f| %>
	    		<%= check_box_tag 'mark_in_complete', 0, false, :class => 'checkbox mark_in_comp' %>
	    	<% end %>
	    	<div>
	    		<%= task.description %> | <%= task.user.full_name %> | <%= "done " + time_ago_in_words(task.updated_at) + " ago" %>
	    	</div>
    	</span>
	</li>
<% end %>