<div class="well span4 index_well" id='<%= "list_#{list.id}" %>' style="background-color: white;">
   <div class="span4">
      <div class="row">
        <span class="index_title">
          <%= link_to "#{list.name}", list_path(list), 'data-pjax' => '#main' %>
        </span>
          <div class="row">
              <div class="span1">
                <span id="blame_game"> 
                 <div class="who_is_next"> 
                  <% if list.has_pending_task? %>
                    <span class="now"> 
                      <%= image_tag list.top_pending_task.user_gravatar, class: "gravatar_index" %>
                    </span>
                    <span class="next">
                      <% unless list.next_pending_task.nil? %>
                        <%= image_tag list.next_pending_task.user_gravatar, class: "gravatar_index" %>
                      <%else%>
                        <%= link_to_function 'Complete?', 'return false;', class: 'label label-success blurred' %>    
                      <% end %>
                    </span>  
                  <%else%>
                    <% if list.owner?(current_user) %>
                       <%= link_to 'Complete?', mark_complete_list_path(list.id), remote: true, confirm: "Are you sure?", class: 'label label-success' %> 
                    <%else%>
                      <%= link_to_function 'Complete?', 'alert("You don\'t have permission to complete this!")', class: 'btn btn-info btn-mini' %>     
                    <%end-%>   
                  <% end %> 
               </div>
              </span>
              </div>
                <div>
                  <div class="gage_index pull-right" id="gage-<%= list.id %>" style="width:170px; height: 100px;"></div>
                </div>
            </div>
          </div> 
      </div>
 </div>
 <script>
    var gage<%= list.id %> = new JustGage({
          id: "gage-<%= list.id %>", 
          value: <%= list.percent_complete.round(2) %>, 
          min: 0,
          max: 100,
          title: "Until Complete",
          startAnimationType: "bounce",
          refreshAnimationType: "bounce",
          refreshAnimationTime: 1500,
          startAnimationTime: 1500,
          levelColors: [
            	"#ff0000",
            	"#999900",
            	"#00ff00"
          ]
      }); 
</script>
