<h1 class="page-header">Projects at a glance</h1> 
<div class="notice" id="notice"></div>
<% unless current_user.invited_user? %>
   <div class="btn-group affix index_button">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <%=image_tag('document-add.png') %> 
    </a> 
 
    <ul class="dropdown-menu dropdown-form">
      <li id='new_project_form'><%= render 'form' %></li>
    </ul>
  </div>
<%else%>
   <%= link_to image_tag('document-add.png', :class => "affix btn index_button" ), '#no_permission', 'data-toggle' => "modal" %>
   
   <div id="no_permission" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
      <h3 id="myModalLabel">No permission!</h3>
    </div>
  
    <div class="modal-body">
      <p>You don't have permission to create your own projects yet. Would you like to?
Visit <%= link_to 'your account page', edit_user_registration_path %> to upgrade today.</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
   </div> 
<%end-%>
<div class="row">
  <span class="activity_feed_icon pull-right" style="background-color:red; border-radius: 20px;">
    <%=image_tag('list-2.png')%>
      <ul id="activity_feed" class="well" style="list-style:none;">
        <li>tonight</li>
        <hr>
      </ul>
  </span>  
  
  
</div>
<ul class="nav nav-pills container" id="myTab">
   <li class="active stuff_with_others"><a href="#stuff_with_others" style="color:#A80000;">Stuff With Others</a></li>
   <li class="my_stuff"><a href="#my_stuff" style="color:#A80000;">My Stuff</a></li>
</ul>
<div class="tab-content"> 
  <div class="tab-pane active" id="stuff_with_others">
    <% @lists.each do |list| %> 
      <%= render 'list', {:list => list} %>
    <% end %>
  </div>
  
  <div class="tab-pane" id="my_stuff">
    <%= render 'my_stuff' %>
  </div>
</div>  
<ol id="list_index_tour" style="display:none;">
  <li>Take a HOt minute for the tour<br><br></li>
  <li data-class="index_button">This is where you create projects<br><br></li>
  <li data-class="stuff_with_others">This is where your stuff with others lives<br><br></li>
  <li data-class="my_stuff">This is where your stuff lives<br><br></li>
  <li data-class="activity_feed_icon">Here is your activity feed, it's red when there is new stuff to check out<br><br></li>
  <li data-id="completed_projects">This is where you can view al your completed proejcts<br><br></li>
  <li data-id="account_info">This is where you upgrade your account and edit you info<br><br></li>
  <li>Any more questions? well you're an idiot because it was built for simplicity and ease<br><br></li>
</ol>

<script>
  $(window).load(function() {
    $("#list_index_tour").joyride({
    });
  });
</script>

<script>
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>
