<h1 class="page-header">Projects at a glance</h1> 
<div class="notice" id="notice"></div>
<% unless current_user.invited_user? %>
   <div class="btn-group affix index_button">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <%=image_tag('document-add.png') %> 
    </a> 
 
    <ul class="dropdown-menu dropdown-form">
      <li id='new_project_form'><%= render 'form' %></li>
    </ul>
  </div>
<%else%>
   <%= link_to image_tag('document-add.png', :class => "affix btn index_button" ), '#no_permission', 'data-toggle' => "modal" %>
   
   <div id="no_permission" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
      <h3 id="myModalLabel">No permission!</h3>
    </div>
  
    <div class="modal-body">
      <p>You don't have permission to create your own projects yet. Would you like to?
Visit <%= link_to 'your account page', edit_user_registration_path %> to upgrade today.</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
   </div> 
<%end-%>
<div class="row">
  <span class="activity_feed_icon pull-right" style="background-color:red; border-radius: 20px;">
    <%=image_tag('list-2.png')%>
      <ul id="activity_feed" class="well" style="list-style:none;">
        <li><%= render 'activities/index' %></li>
      </ul>
  </span>  
</div>
<ul class="nav nav-pills container" id="myTab">
   <li class="active"><a href="#stuff_with_others" style="color:#A80000;">Stuff With Others</a></li>
   <li><a href="#my_stuff" style="color:#A80000;">My Stuff</a></li>
</ul>
<div class="tab-content"> 
  <div class="tab-pane active" id="stuff_with_others">
    <% @lists.each do |list| %> 
      <%= render 'list', {:list => list} %>
    <% end %>
  </div>
  
  <div class="tab-pane" id="my_stuff">
    <%= render 'my_stuff' %>
  </div>
</div>  
 
<script>
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
</script>
