<h1 class="page-header">Getting sensors up</h1> 
<div class="span12 offset2"> 
 <% @lists.each do |list| %> 
  <div class="well span4">   
    <span class="lead"><%= link_to "#{list.name}", list_url(list) %></span><br>
    <div class="pull-right" id="gage-<%= list.id %>" style="width:170px; height:100px;"></div>
    <span><%= list.description %><br><br><hr> <%= link_to "Edit", edit_list_url(list) %> | <%= link_to "Delete", list_url(list), :method => :delete, data: { confirm: "You Sure?" } %></span>
  </div>  
  <script>
    var gage<%= list.id %> = new JustGage({
      id: "gage-<%= list.id %>", 
      value: <%= list.percent_complete.round(2) %>, 
      min: 0,
      max: 100,
      title: "Until Complete",
      startAnimationType: "bounce",
      refreshAnimationType: "bounce",
      refreshAnimationTime: 1500,
      startAnimationTime: 1500
    }); 
  </script>
  
 <% end %>  
</div>  
<span class="affix btn"><%= link_to "Add new Install", new_list_url %></span>