

<%= image_tag @it_works %>


<h1 class="page-header">Projects at a glance</h1> 
<div class="span12 offset2"> 
 <% @lists.each do |list| %> 
  <div class="well row span4">
    <div class="span3">
    </div>  
    <div class="span4">   
      <span class="lead">
      <%= link_to "#{list.name}", list_url(list) %>
      </span>
      <p>
       <%= list.description %>
      </p>
      <hr>
      <div class="pull-right" id="gage-<%= list.id %>" style="width:170px; height:100px;"></div>
      <br>
        <span id="blame_game"> 
         <div class="who_is_next"> 
          <span class="offset1">
          <% if Task.who_are_we_waiting_on(list) %>
          <span class="pull-left now"> 
           <%= image_tag Task.who_are_we_waiting_on(list).user.gravatar_url, :class => "gravatar_index" %>
          </span>
          <% end %> 
          <% if Task.who_is_next(list) %>
            <span class="pull-left next">
             <%= image_tag Task.who_is_next(list).user.gravatar_url, :class => "gravatar_index" %>
            </span>
          <% end %>
          </span>
         </div>
        </span>     
    </div>  
  </div>  
  <script>
    var gage<%= list.id %> = new JustGage({
      id: "gage-<%= list.id %>", 
      value: <%= list.percent_complete.round(2) %>, 
      min: 0,
      max: 100,
      title: "Until Complete",
      startAnimationType: "bounce",
      refreshAnimationType: "bounce",
      refreshAnimationTime: 1500,
      startAnimationTime: 1500
    }); 
  </script>
  
 <% end %>  
 
</div>  


<span class="affix btn"><%= link_to "Add New Project", new_list_url %></span>

<span id="on_deck">
        <div class="check">
         <span class="tick"></span>
         <span class="cross"></span>
        </div>
</span>
