$("#members_list").html("<%= escape_javascript(render('/lists/members')) %>")
<% @task = @list.tasks.new %>
$("#new_task_form").html("<%= escape_javascript(render('/tasks/form')) %>")
$('#task_due_date').datepicker({dateFormat: 'mm-dd-yy'})
gage<%= @list.id %>.refresh(<%= @list.percent_complete.round(2) %>);  
$('#incomplete').html('<%= escape_javascript render 'lists/incompletes' %>');
$("#completed").html('<%= escape_javascript render 'lists/completed' %>');
update_due_labels();
 $('#notice').html('<div class="alert alert-success"> <a href="#" class="close" data-dismiss="alert">x</a> User is successfully removed from the list. </div>');

