<script>
function allowDrop(ev)
{
ev.preventDefault();
}

function drag(ev)
{
ev.dataTransfer.setData("Text",ev.target.id);
}

function drop(ev)
{
ev.preventDefault();
var data=ev.dataTransfer.getData("Text");
ev.target.appendChild(document.getElementById(data));
}
</script>

<style type="text/css">
#div1, #div2,#div3,#div4,#div5,#div6,#div7
{width:200px; height:65px; margin:10px;padding:10px;border:3px solid #aaaaaa;border-radius:15;}
</style>

<h1 class="page-header">Who's next?</h1>
<div class="well span9 offset2">
  <h2 class="page-header"><%= @list.name %></h2>
  <h2 class="lead"><%= @list.description %></h2>  
  <div class="pull-right" id="smallbuddy" style="width:340px; height:200px;"></div>

  <h3>Tasks</h3>
  
  
  <!-- add :remote => true  for this to work via ajax again -->
  
  <%= form_for [@list, @list.tasks.new] do |form| %>
    <%= form.text_field :description %>
    <%= form.submit %>
  <% end %>
    
  <ul class="task-list" id="incomplete">
    <% @list.tasks.incomplete.each do |task| %> 
      <li id="task-<%= task.id %>">
        <span class="task-description" id="description-<%= task.id %>"><%= task.description %> </span>
        <%= button_to "Completed", complete_task_path(@list.id,task.id), :class =>"btn-mini", remote: true %>
      </li>
    <% end %>
  </ul>

  <hr>


  <button type="button" class="btn btn-info offset3" data-toggle="collapse" data-target="#demo">
   Show completed tasks
  </button><br>
  <div class="offset2 collapse" id="demo" style="background-color:#FFF;height:600px;width:760px;margin-top:20px;">
    <ul class="task-list" id="completed">
      <% @list.tasks.completed.each do |task| %> 
        <li><%= task.description %></li>
      <% end %>
    </ul>
  </div>
  
</div>    

<span class="btn affix"><%= link_to "Back to all Installs", lists_url %></span>
<div>
</div>

<script>
  var gage<%= @list.id %> = new JustGage({
    id: "smallbuddy", 
    value: <%= @list.percent_complete.round(2) %>, 
    min: 0,
    max: 100,
    title: "Until Complete",
    startAnimationType: "bounce",
    refreshAnimationType: "bounce",
    refreshAnimationTime: 1500,
    startAnimationTime: 1500
    
  }); 
</script>

<script type="text/javascript">
    $("#demo").collapse("hide");
</script>
