<h1 class="page-header">Who's next?</h1>
<span class="show_button btn affix"><%= link_to "Back To Projects", lists_url %></span>
<div class="well row span9 offset2">
  <div class="span8" id="list_show_title">
   <div class="row">  
      <h2 class="span5"><%= best_in_place @list, :name %></h2>
      <p id="task_show_description" class=" lead span3">
       <%= best_in_place @list, :description %>
      </p>
   </div>    
  </div>  
  <div class="pull-right" id="smallbuddy" style="width:340px; height:200px;"></div>
<!-- delete from 14 to 41 and restyle -->

  
  <%= button_tag "Add New Task", :id => "new_task_bt", :class => "btn" %>
  
  <!-- add :remote => true  for this to work via ajax again -->
  <div id="new_task_form">
	  <%= simple_form_for [@list, @list.tasks.new], :remote => true do |form| %>
	    <%= form.input :user_id, collection: User.all, label_method: :full_name %>
	    <%= form.text_field :description %>
	    <%= form.input :due_date %>
	    <%= form.submit %>
	  <% end %>
  </div>
  <br><br>
  <ul class="task-list" id="incomplete">
    <%= render 'incompletes' %>
  </ul>
  <button type="button" class="btn btn-info offset3" data-toggle="collapse" data-target="#demo">
   Show completed tasks
  </button><br>
  <div class="pull-left offset2 collapse" id="demo" style="height:600px;width:760px;margin-top:20px;margin-left:0px;padding-right:1px;">
    <ul class="task-list" id="completed">
       <table>
         <tbody>
           <tr>
             <td><%= render "completed" %>
             </td>
           </tr>
         </tbody>   
        <table>
    </ul>
  </div>
</div>    
<div>
</div>

<script>
  var gage<%= @list.id %> = new JustGage({
    id: "smallbuddy", 
    value: <%= @list.percent_complete.round(2) %>, 
    min: 0,
    max: 100,
    title: "Until Complete",
    startAnimationType: "bounce",
    refreshAnimationType: "bounce",
    refreshAnimationTime: 1500,
    startAnimationTime: 1500
    
  }); 
</script>

<script type="text/javascript">
    $("#demo").collapse("hide");
</script>
