<h1 class="page-header"><%= best_in_place @list, :name %> <br>
  <small style="margin-left:5px;"><%= best_in_place @list, :description %></small>
  <%= link_to "Back To Projects", lists_url, class: "btn btn-link show_button pull-right" %>
</h1>
<div class="row">    
   <div class="offset1">
     <%= link_to 'get latest updates', list_path(@list),  :remote => true %>
   </div>
     
   <div id="show_wrapper">
     <%= render 'show' %>
   </div>
</div>
<%= link_to 'Delete Project', list_path(@list),
            :confirm => 'Are you sure? This cannot be undone.', :method => :delete, class: "btn btn-mini btn-link links123 offset11" %>

<div id="participants" class='clearfix'>
  <button type="button" class="btn btn-link show_button" data-toggle="collapse" data-target="#members_list"> Can see this project </button>
  <div class="collapse in" id="members_list">
     <%= render 'members' %>
  </div>
</div>


<ol id="list_show_tour" style="display:none;">
 <li data-id="new_task_bt">Just click this to add a new task.<br><br></li>
 <li data-id="bt-invite-user">Click here to invite a new user by email to this project.<br><br></li>
 <li data-id="smallbuddy">This let's you know how close you are to done, as you complete tasks it fills.<br><br></li>
 <li data-class="show-completed">This button will show display all completed things for this list, with a timestamp.<br><br></li>
 <li data-id="participants">This button will show a list of people that have access to this list.<br><br></li> 
</ol>

<script>
 $(window).load(function() {
   $("#list_show_tour").joyride({
   });
 });
</script>

