
<h1 class="page-header"> Getting it up</h1>
<div class="well span9 offset2">
  <h2 class="page-header"><%= @list.name %></h2>
  <h2 class="lead"><%= @list.description %></h2>  
  <div class="pull-right" id="smallbuddy" style="width:340px; height:200px;"></div>

  <h3>Tasks</h3>
  
  
  <!-- add :remote => true  for this to work via ajax again -->
  
  <%= form_for [@list, @list.tasks.new] do |form| %>
    <%= form.text_field :description %>
    <%= form.submit %>
  <% end %>
    
  <ul class="task-list" id="incomplete">
    <% @list.tasks.incomplete.each do |task| %> 
      <li id="task-<%= task.id %>">
        <span class="task-description" id="description-<%= task.id %>"><%= task.description %> </span>
        <%= button_to "Completed", complete_task_path(@list.id,task.id), :class =>"btn-mini", remote: true %>
      </li>
    <% end %>
  </ul>

  <hr>

  <ul class="task-list" id="completed">
    <% @list.tasks.completed.each do |task| %> 
      <li><%= task.description %></li>
    <% end %>
  </ul>
  
</div>    

<span class="btn affix"><%= link_to "Back to all Installs", lists_url %></span>
<div>
</div>
<button type="button" class="btn-large btn-info offset5" data-toggle="collapse" data-target="#plumb_chart" id="plumb_button">
  Show Flow chart for this project
</button>
 
<div id="plumb_chart" class="collapse in offset2"> 
  This should be the thing that is collapsed in and out!
  <br>
  <br>
  <div id="container0">
       probably not
	</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id="container1">
       probably not
	</div>
  <br>
</div>
<script>
  var gage<%= @list.id %> = new JustGage({
    id: "smallbuddy", 
    value: <%= @list.percent_complete.round(2) %>, 
    min: 0,
    max: 100,
    title: "Until Complete",
    startAnimationType: "bounce",
    refreshAnimationType: "bounce",
    refreshAnimationTime: 1500,
    startAnimationTime: 1500
    
  }); 
</script>

<script type="text/javascript">
var e0 = jsPlumb.addEndpoint("container0"),
	e1 = jsPlumb.addEndpoint("container1");
	
  jsPlumb.connect({
  	source:e0,
  	target:e1,
  	endpoint:"Dot",
  	anchors:[
  		[ "Perimeter", { shape:"triangle" } ],
  		[ "Perimeter", { shape:"diamond" } ]
  	]
  });
</script>












