<h1 class="page-header">Who's next?</h1>
<span class="btn affix"><%= link_to "Back To All Projects", lists_url %></span>
<div class="well span9 offset2">
  <h2 class="page-header"><%= @list.name %></h2>
  <h2 class="lead"><%= @list.description %></h2>  
  <div class="pull-right" id="smallbuddy" style="width:340px; height:200px;"></div>

  <h3>Tasks</h3>
  
  
  <!-- add :remote => true  for this to work via ajax again -->
  
  <%= simple_form_for [@list, @list.tasks.new] do |form| %>
    <%= form.input :user_id, collection: User.all, label_method: :full_name %>
    <%= form.text_field :description %>
    <%= form.text_field :due_date %>
    <%= form.submit %>
  <% end %>
  <ul class="task-list" id="incomplete">
    <% @list.tasks.incomplete.each do |task| %> 
     <table class="table table-hover table-condensed">
       <tbody>
         <tr>
           <td>
            <li id="task-<%= task.id %>">
              <span class="task-description" id="description-<%= task.id %>">
                <%= image_tag task.user.gravatar_url, :class => "gravatar_index" %>
                <%= task.description %>
              </span>
              <span class="pull-left" id="completed_checkbox">
               <%= button_to "Completed", complete_task_path(@list.id,task.id), :class => "btn-mini", remote: true %>
              </span>
            </li>
          </td>
         </tr>
       </tbody>
      </table>
    <% end %>
  </ul>
  <button type="button" class="btn btn-info offset3" data-toggle="collapse" data-target="#demo">
   Show completed tasks
  </button><br>
  <div class="pull-left offset2 collapse" id="demo" style="height:600px;width:760px;margin-top:20px;margin-left:0px;padding-right:1px;">
    <ul class="task-list" id="completed">
      <% @list.tasks.completed.each do |task| %> 
       <table>
         <tbody>
           <tr>
             <td>+<%= task.description %> |  <%= task.user.full_name %> | <%= task.due_date %></td>
           </tr>
         </tbody>   
        <table>
      <% end %>
    </ul>
  </div>
</div>    
<div>
</div>

<script>
  var gage<%= @list.id %> = new JustGage({
    id: "smallbuddy", 
    value: <%= @list.percent_complete.round(2) %>, 
    min: 0,
    max: 100,
    title: "Until Complete",
    startAnimationType: "bounce",
    refreshAnimationType: "bounce",
    refreshAnimationTime: 1500,
    startAnimationTime: 1500
    
  }); 
</script>

<script type="text/javascript">
    $("#demo").collapse("hide");
</script>
