
<h1 class="page-header"> Getting it up</h1>
<div class="well span9 offset2">
  <h2 class="page-header"><%= @list.name %></h2>
  <h2 class="lead"><%= @list.description %></h2>  
  <div class="pull-right" id="smallbuddy" style="width:340px; height:200px;"></div>

  <h3>Tasks</h3>
  
  
  <!-- add :remote => true  for this to work via ajax again -->
  <%= form_for [@list, @list.tasks.new] do |form| %>
    <%= form.text_field :description %>
    <%= form.submit %>
  <% end %>
    
  <ul class="task-list" id="incomplete">
    <% @list.tasks.incomplete.each do |task| %> 
      <li id="task-<%= task.id %>">
        <span class="task-description" id="description-<%= task.id %>"><%= task.description %> </span>
        <%= button_to "Completed", complete_task_path(@list.id,task.id), :class =>"btn-mini", remote: true %>
      </li>
    <% end %>
  </ul>

  <hr>

  <ul class="task-list" id="completed">
    <% @list.tasks.completed.each do |task| %> 
      <li><%= task.description %></li>
    <% end %>
  </ul>
  
</div>    

<span class="btn affix"><%= link_to "Back to all Installs", lists_url %></span>
<div>
</div>

<script>
  var gage<%= @list.id %> = new JustGage({
    id: "smallbuddy", 
    value: <%= @list.percent_complete.round(2) %>, 
    min: 0,
    max: 100,
    title: "Until Complete"
  }); 
</script>