<script type="text/javascript">
	$(document).ready(function() {
		
		$('#invitation_form').bind("ajax:beforeSend",  function() {
			$("#loading").toggle();
			$('#frm_invite_user').hide();
		}).bind("ajax:success", function(xhr, data, status) {
			$("#loading").toggle()	
			$('#frm_invite_user').hide();
			$('#bt-invite-user').show();
			$('#new_task_bt').show();
			$('#notice').text('Invitation email has been sent successfully').css('color', 'green').fadeIn(300).delay(30000).fadeOut(300);
		});
	});
</script>

<h1 class="page-header">Who's next?</h1>
<div class="notice" id="notice"></div>
<%= link_to "Back To Projects", lists_url, class: "btn affix show_button" %><br>

<div class="well row span10 offset2">
  <div class="row">
    <div class="span5">
      <h2><%= best_in_place @list, :name %></h2>
    </div>
    <div class="span5">
      <p id="task_show_description" class="lead">
       <%= best_in_place @list, :description %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="span5 pull-right">
      <div id="smallbuddy" style="width:340px; height:200px;"></div>
    </div>
    <div class="span5">
      <%= link_to "Add New Task", '#', class: "show_button btn", id: "new_task_bt" %>
      <% is_created_user =  current_user.id == @list.user_id ? true : false%>
      <% if is_created_user %>
      <%= button_tag 'Invite user', :id => 'bt-invite-user', :class => 'btn btn-info'  %>
      		<div id="loading" style="display: none;">
      			<%= image_tag 'loading12.gif' %>
      		</div>
      	  <div id="frm_invite_user" style="display: none;">
      	  	<h3>Invite user join in your project</h3>
      	  	<%= form_tag invite_user_path(@list), :id => 'invitation_form',:remote => true do %>
      	  	<%= label_tag 'Firstname' %>
      	  	<%= text_field_tag 'first_name' %>
      	  	<%= label_tag 'Lastname' %>
      	  	<%= text_field_tag 'last_name' %>
      	  	<%= label_tag 'User email' %>
      	  	<%= text_field_tag 'user_email' %><br/>
      	  	<%= submit_tag 'Send invitation', :class => 'btn btn-info' %>
      	  	<%= button_tag 'Cancel', :id => 'bt-cancel-invite', :class => 'btn', :type => 'button' %>
      	  	<% end %>

      	  </div>
      	  <hr/>
      <% end %>
      <div id="new_task_form">

    	  <%= simple_form_for [@list, @list.tasks.new], :remote => true do |form| %>


    	  	<%= form.label :user_id %>
    	  	<%= select("task", "user_id", @list_team_members.collect {|tm| [ tm.user.full_name, tm.user_id ] }, { :include_blank => true }) %>

    	    <%= form.label :description %>
    	    <%= form.text_field :description %>
    	    <%= form.label :due_date %>
    	    <%= form.text_field :due_date %><br>
    	    <%= form.submit :class => 'btn' %>
    	    <%= button_tag 'Cancel', :id => 'bt-cancel-task', :class => 'btn', :type => 'button' %>
    	  <% end %>  
    	</div>  
    </div>  
  </div>
  <div class="row span10">
    <ul class="task-list" id="incomplete" data-update-url="<%= sort_tasks_url %>">
      <%= render 'incompletes' %>
    </ul>
  </div>
  <div class="row">
    <div id="bootstrap_fix">
        <button type="button" class="btn btn-info offset3" data-toggle="collapse" data-target="#demo">
         Show completed tasks
        </button><br>
      <div class="pull-left offset2 collapse in" id="demo" style="width:760px;margin-top:20px;margin-left:10px;padding-right:1px;">
        <ul class="task-list" id="completed">
           <table>
             <tbody>
               <tr>
                 <td><%= render "completed" %>
                 </td>
               </tr>
             </tbody>   
           </table>
        </ul>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Delete Project', list_path(@list),
            :confirm => 'Are you sure? This cannot be undone.', :method => :delete, class: "btn btn-mini btn-danger offset11" %><br><br>

<%= @list.user.last_name %>

                   
<script>
  var gage<%= @list.id %> = new JustGage({
    id: "smallbuddy", 
    value: <%= @list.percent_complete.round(2) %>, 
    min: 0,
    max: 100,
    title: "Until Complete",
    startAnimationType: "bounce",
    refreshAnimationType: "bounce",
    refreshAnimationTime: 1500,
    startAnimationTime: 1500,
    levelColors: [
        	"#ff0000",
        	"#999900",
        	"#00ff00"
      ]
    
  }); 
</script>
<script>
  $(".collapse").collapse()
</script>
