<br>
<div class="row">
  <div class="span12" style="text-align:center;">
    <h2>You have been invited to join a new refreshrunner project.</h2>
      <h4>You received that email and are shown this page because blanktown. needs your help on a project.</h4>
  </div>
</div>
<br>
 <%= simple_form_for(@user, :url => update_password_path, :method => :put) do |f| %>       
  <div class="row">  
    <div class="signup_well span3 offset1">
       <legend><%= t 'devise.invitations.edit.header' %></legend>
       <%= f.input :password, :required => true %>
       <%= f.input :password_confirmation, :required => true %>
       <%= hidden_field_tag :token, @invitation.token %>
       <%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-success" %>
  <% end %>
  </div>
  <div class="span5">
    <br><br>
    <div id="gauge" style="height:240px; width:300px;"></div>
  </div>
</div>
<div class="row offset1">
   <h5>Now what happens?</h5>
  <ul>
    <li>Just set your password above.</li>
    <li>You will be directed to the project page.</li>
    <li>Here you'll see who else is on the project and what it's going to take to get it done.</li>
    <li>Questions? ____email of person with a mail to tag</li>
  </ul>
</div>  
<div class="container">
  <footer class="footer">
    <small class="pull-left">
      <ul>
        <li><a href="#about" data-toggle="modal">fivefourfooty,</a> 2013</li><br>
        <li><%= link_to image_tag("/assets/twitter.png"), "#twitter", :data => { :toggle =>"modal" } %></li>
        <li><%= link_to image_tag("/assets/facebook.png"), "#facebook", :data => { :toggle =>"modal" } %></li>
        <li><%= link_to image_tag("/assets/linkedin.png"), "#linkedin", :data => { :toggle => "modal" }%></li>
      </ul>
    </small>
    <nav>
      <small class="pull-right">
        <ul>
          <li><%= link_to "About", '#about', :data => { :toggle => "modal"}  %></li>
          <li><a href="mailto:tony@54footy.com">Contact</a></li>
          <li><%= link_to "Terms", terms_path %>
          <li><%= link_to "Privacy", terms_path %>
        </ul>
      </small>
    </nav>
  </footer>
</div>
<div id="twitter" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="span2">
        <%= image_tag "/assets/twitter_lrg.png" %> 
      </div>
      <div class="span4">
        Hey! Put the twitter down and get back to <%= link_to "meaningful work", new_user_registration_path %>.
      </div>  
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<div id="linkedin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <%= image_tag "/assets/linkedin_lrg.png" %> 
    " The startup of you"? I mean come on.
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<div id="facebook" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="span2">
       <%= image_tag "/assets/facebook_lrg.png" %> 
      </div> 
      <div class="span4">
        You're not tired of facebook, you're tired of your friends. <br><br>
        Avoid political views, sports opinions, pictures of babies and food, and get back to <%= link_to "YOUR stuff", new_user_registration_path %>.
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<div id="about" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="span2">
       <%= image_tag "/assets/about.png" %> 
      </div> 
      <div class="span4">
        It's less about you or us and more about getting meaningful results.<br><br>
        Whether we're preschoolers that know how to code, Harvard MBA's, or concerned citizens
        that seek to unearth inefficiencies in how we spend our absolutely most valuable resource
        as humans - attention - <%= link_to "we're looking to help", benefits_path %>. <br><br>
        <a href="mailto:tony@54footy.com">Question?</a> We've got a lot of answers. 
        
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<script>
  var g = new JustGage({
    id: "gauge", 
    value: getRandomInt(15, 93), 
    min: 0,
    max: 100,
    title: "Your skills are needed!"
  });
  setInterval(function() {
    g.refresh(getRandomInt(15, 93));
  }, 2500);
  
  
</script>
