<br>
<div class="row">
  <div class="span12" style="text-align:center;">
    <h2>You have been invited to join a new refreshrunner project.</h2>
      <h4>You received that email and are shown this page because your help is needed on a project.</h4>
  </div>
</div>
<br>
 <%= simple_form_for(@user, :url => update_password_path, :method => :put) do |f| %>       
  <div class="row">  
    <div class="signup_well span3 offset1">
       <legend><%= t 'devise.invitations.edit.header' %></legend>
       <%= f.input :password, :required => true %>
       <%= f.input :password_confirmation, :required => true %>
       <%= hidden_field_tag :token, @invitation.token %>
       <%= f.submit t("devise.invitations.edit.submit_button"), class: "btn btn-success" %>
  <% end %>
  </div>
  <div class="span5">
    <br><br>
    <div id="gauge" style="height:240px; width:300px;"></div>
  </div>
</div>
<div class="row offset1">
   <h5>Now what happens?</h5>
  <ul>
    <li>Just set your password above.</li>
    <li>You will be directed to the project page.</li>
    <li>Here you'll see who else is on the project and what it's going to take to get it done.</li>
    <li>Questions? Contact the person in the email you just received.</li>
  </ul>
</div>  

<%= render 'layouts/footer' %>

<script>
  var g = new JustGage({
    id: "gauge", 
    value: getRandomInt(15, 93), 
    min: 0,
    max: 100,
    title: "Your skills are needed!"
  });
  setInterval(function() {
    g.refresh(getRandomInt(15, 93));
  }, 2500);
  
  
</script>
