<div class="row nav-under-wrapper">
  <% if !user_signed_in? %>
    <ul class="nav-under-not-home pull-right">
      <li><%= link_to "Home", root_path  %></li>
     <li><%= link_to "What it does", benefits_path  %></li>
     <li><%= link_to "Benefits of using", benefits_path  %></li>
     <li><%= link_to "What it costs", pricing_path  %></li>
    <% end %>
  </ul>
</div>
<div class="row">
  <div class="span3">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>       
      <h5><%= devise_error_messages! %></h5>
    <div class="signup_well span3">
      <legend>Sign up</legend>
      <%= f.text_field :first_name, :placeholder => "First Name" %>
      <%= f.text_field :last_name, :placeholder => "Last Name" %>
      <%= f.text_field :profile_name, :placeholder => "Pick a User Name" %>
      <%= f.email_field :email, :placeholder => "Your Email" %>
      <%= f.password_field :password, :placeholder => "Password" %>
      <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %><br>
      <%= f.submit "Use for my next project", :class => "btn btn-success" %>
    <% end %>
    <br>
    </div>
    <small class="offset1"><%= render "devise/shared/links" %></small>
  </div>
  <div class="span6 offset3">
    <h2>Results are addicting</h2>  
    <div id="signup_gage" style="height:240px; width:300px;">
     <h4><small>Your 45-day <span style="color: green;"><strong>free</strong></span> trial starts after filling out the form.</small></h4>
  </div>  
</div>
<script>
  $(document).ready(function(){

          var new_signup_gage = new JustGage({
    	    id: "signup_gage", 
    	    value: 0, 
    	    min: 0,
    	    max: 100,
    	    title: "Your Next Project",
    	    startAnimationType: "bounce",
    	    refreshAnimationType: "bounce",
    	    refreshAnimationTime: 700,
    	    startAnimationTime: 500,
    	    levelColors: [
              	"#ff0000",
              	"#999900",
              	"#00ff00"
            ]
    	  });
    	   $("#new_user input[type=text],#new_user input[type=password],#new_user input[type=email]").blur(function(){
    	   var counter=0;
    		   $("#new_user input[type=text],#new_user input[type=password],#new_user input[type=email]").each(function() {

    	                if(this.value.length>1) {
    	                    counter=counter+16;
    	                    counter=counter>90?100:counter;
    	                    new_signup_gage.refresh(counter);

    	                }
    	            });
    	   });
    });
  
</script>