<div class="row nav-under-wrapper">
  <% if !user_signed_in? %>
    <ul class="nav-under-not-home pull-right">
      <li><%= link_to "Home", root_path  %></li>
     <li><%= link_to "What it does", does_path  %></li>
     <li class="imhere"><%= link_to "Benefits of using", benefits_path  %></li>
     <li id="right-link"><%= link_to "What it costs", pricing_path  %></li>
    <% end %>
  </ul>
</div>
<br>
<h1 style="text-align: center;">Which one of these frustrates you the most?<br><small>Productivity has never been this simple, try it <%= link_to "for free", new_user_registration_path %> to see why. </small></h1><br>
<div class="whole_frustrate_topside">
  <div class="row container">
    <div class="row">
      <div class="span3 frustrate_topside" for='q1 q2'>  
        <div>
          <p>When I work on stuff that doesn't actually matter.</p>
        </div>
      </div>
      <div class="span3 frustrate_topside" for="q7 q11">
          <div>
            <p>10 people asking me the same question 10 times.</p>
          </div>
      </div>
      <div class="span3 frustrate_topside" for="q8 q10">
        <div>
          <p>Not being able to hold myself and others accountable.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row container">
    <div class="row">
      <div class="span3 frustrate_topside" for="q3 q5">  
        <div>
          <p>Working extra hard to pick up the slack of others.</p>
        </div>
      </div>
      <div class="span3 frustrate_topside" for="q4 q9">
          <div>
            <p>Talking endless circles about the things we should be doing instead of actually doing them.</p>
          </div>
      </div>
      <div class="span3 frustrate_topside" for="q6 q12">
        <div>
          <p>Not being appreciated for how much I actually accomplish.</p>
        </div>
      </div>
    </div>
  </div>
</div>  
<br>
<div class="row">
  <div class="span6" id='container'>
    <h5 class="faq_header"><i class="icon-ok" id="q1"></i> Hey, it would be cool if..</h5>  
    <div class='content'>
      <p>Everyone loves a self starter, except when they consume your most valuable resource - attention.</p>
      <p>Hold their whims in check by tracking what you're working on for them and see if it really mattered in the end.</p>
      <div style="text-align:center;"><%= link_to "Get My Attention Back", new_user_registration_path, :class => "btn btn-success fix_this_btn" %></div>
    </div>
    <hr>
    <h5 class="faq_header"><icon class="icon-ok" id="q2"></icon> The kick is up! And..</h5>
    <div class='content'> 
      <p>Inspiration is great, but execution is 10x better.</p>
      <p>Avoid 80% project completion syndrome by having the inspired put their name and a gauge to their initiatives.</p>
      <div style="text-align:center;"><%= link_to "Get to 100%", new_user_registration_path, :class => "btn btn-success fix_this_btn" %></div>
    </div>
    <hr>
    <h5 class="faq_header"><icon class="icon-ok" id="q3"></icon> Third night in a row</h5>
    <div class='content'>
      <p>Who is really responsible for what? Keep an ongoing record of how much you actually do for others.</p>
      <p>And how many lunches they owe you.</p>
      <div style="text-align:center;"><%= link_to "Get More Lunches", new_user_registration_path, :class => "btn btn-success fix_this_btn" %>
      </div>
    </div> 
    <hr>
    <h5 class="faq_header"><icon class="icon-ok" id="q4"></icon>Lets sit down and chat</h5>
    <div class='content'>
      <p>Set and execute on clear objectives about what needs to be done rather than talking about them to death.</p>
      <div style="text-align:center;"><%= link_to "Actions > Words", new_user_registration_path, :class => "btn btn-success fix_this_btn" %>
      </div>
    </div>
    <hr>
    <h5 class="faq_header"><icon class="icon-ok" id="q5"></icon> You're on deck</h5>
    <div class='content'> 
      <p>The show view gives a quick look into the project completion percentage and who exactly it is we're waiting on for completion.</p>
      <div style="text-align:center;"><%= link_to "Easily See Why We're Blocked", new_user_registration_path, :class => "btn btn-success fix_this_btn" %>
      </div>
    </div>
    <hr>
    <h5 class="faq_header"><icon class="icon-ok" id="q6"></icon>Indispensable</h5>
    <div class='content'>
      <p>Easily see what work wouldn't get done if you didn't do that voodoo that you do so well.</p>
      <div style="text-align:center;"><%= link_to "See How Good you Are", new_user_registration_path, :class => "btn btn-success fix_this_btn" %>
      </div>
    </div>
  </div> 
 
  <div class="span6" id="container">
    <h5 class="faq_header"><icon class="icon-ok" id="q7"></icon>I need a map</h5>
    <div class='content'>
      <p>Where are we at on that Johnson Report?</p>
      <p>Avoid the above question like the plague and have a page for all project stakeholders to view the status of that Johnson report.</p>
      <div style="text-align:center;"><%= link_to "Less Unnecessary Questions", new_user_registration_path, :class => "btn btn-success fix_this_btn" %>
      </div>
    </div>
    <hr>
    <h5 class="faq_header"><icon class="icon-ok" id="q8"></icon>Wait, why did I come in here again?</h5>
    <div class='content'>
      <p> You're not perfect all the time. Sometimes you have a moment of inspiration and then you forget.</p>
      <p> Hold yourself in check by having what exactly you need to do laid out for easy access.</p>
      <div style="text-align:center;"><%= link_to "Remember Everything", new_user_registration_path, :class => "btn btn-success fix_this_btn" %>
      </div>
    </div>
    <hr>
    <h5 class="faq_header"><icon class="icon-ok" id="q9"></icon> The Grand Canyon isn't so lovely this time of year</h5>
    <div class='content'>
      <p>The knowing and doing gap is alive and well.</p>
      <p>Use you lists to force yourself to be good and close that gap for yourself and others once and for all.</p>
      <div style="text-align:center;"><%= link_to "Become Famous For Closing", new_user_registration_path, :class => "btn btn-success fix_this_btn" %>
      </div>
    </div>
    <hr>
    <h5 class="faq_header"><icon class="icon-ok" id="q10"></icon> Nicholas Travolta</h5>
    <div class='content'>
      <p>Make sure what you're working on is front and center staring you (and everyone) in the face.</p> 
      <p>Avoid stale projects and procrastination by having a quick visibility in to the progress of all your projects.</p>
      <div style="text-align:center;"><%= link_to "Tackle Them Head On", new_user_registration_path, :class => "btn btn-success fix_this_btn" %>
      </div>
    </div>
    <hr>
    <h5 class="faq_header"><icon class="icon-ok" id="q11"></icon> Johnny Come Looky</h5>
    <div class='content'>
      <p>They shouldn't have to come over and make small talk just to sneak a peak at your screen to see what you're working on.</p> 
      <p>Happily, provide a link to your projects to let whoever YOU want know what you are working on.</p>
      <div style="text-align:center;"><%= link_to "Go Back to Your Desk", new_user_registration_path, :class => "btn btn-success fix_this_btn" %>
      </div>
    </div>
    <hr>
    <h5 class="faq_header"><icon class="icon-ok" id="q12"></icon> HIT List</h5>
    <div class='content'>
      <p>"Hey are you busy right now?" Yeah, gimme a sec. </p>
      <p>Quickly keep track and knock out the stuff you can do this "sec" before getting distracted.</p>
      <div style="text-align:center;"><%= link_to "Finish What You Can Right Now", new_user_registration_path, :class => "btn btn-success fix_this_btn" %>
      </div>
    </div>
  </div>
</div>
<div class="row" id='container'>
  <h5 class="faq_header"><icon class="icon-ok" id="q13"></icon> No I can't do EVERYthing</h5>
  <div class='content' style="margin-left: 230px; width:550px;">
    <p>It's true you need another person's skill set to accomplish something important. But, asking someone for something shouldn't be so difficult.</p>
    <p>Invite anyone by email to your project and let them know that the project's well being and completion depends on their very particular skill set.</p>
    <div style="text-align:center;"><%= link_to "Make Something Great Together", new_user_registration_path, :class => "btn btn-success fix_this_btn" %>
    </div>
  </div>
</div>
<hr>
<div class="row beneifts_description_whole" style="border-bottom:none;">
  <div class="row">
    <div class="span9">
       <h2>Simple. <small> See the rest on the <%= link_to "inside", new_user_registration_path %> or see <%= link_to "how much it costs.", pricing_path %></small></h2> 
    </div>
  </div>  
  <br>
  <div class="row" style="margin-left: 200px;">
    <div>
      <%= link_to "Inside.", new_user_registration_path, :class => "btn btn-success" %>
      <%= link_to "Costs.", pricing_path, :class => "btn btn-info"  %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>

<script>
//On click any <h3> within the container
$('#container h5').click(function(e) {

    //Close all <div> but the <div> right after the clicked <a>
    $(e.target).next('div').siblings('div').slideUp('fast');

    //Toggle open/close on the <div> after the <h3>, opening it if not open.
    $(e.target).next('div').slideToggle('fast');
});
</script>
<script>
$('div.frustrate_topside').click(function(){
  var elt = $(this).attr('for');
  var multElts = elt.split(" ");
  $('.icon-ok').hide();
      for(var i=0; i< multElts.length; i++)
      {
          $("#" + multElts[i]).toggle();
          
      }
});
</script>