<div class="row nav-under-wrapper">
  <% if !user_signed_in? %>
    <ul class="nav-under-not-home pull-right">
      <li><%= link_to "Home", root_path  %></li>
     <li class='imhere'><%= link_to "What it does", does_path  %></li>
     <li><%= link_to "Benefits of using", benefits_path  %></li>
     <li id="right-link"><%= link_to "What it costs", pricing_path  %></li>
    <% end %>
  </ul>
</div><br>
<h1 style="text-align: center;">Below are the steps to get started<br><small>Although, it's much easier to <%= link_to "get your hands dirty", new_user_registration_path %>. </small></h1><br>
<div class="well" style="background-color: white;">
  <div class="row does_description_whole">
    <div class="row offset2">
      <div class="span4 does_description_text">
        <h3><%= image_tag('document-add.png') %> Create Your Project</h3>
        <p>You have something you need to accomplish. Name it and say why it needs to be done.</p>
      </div>
      <div class="span3">
        <a href="https://lh3.googleusercontent.com/-lKkALWGBVqI/UOetfHmfWrI/AAAAAAAAAOg/iqCt9znMtvo/s640/1st_does.png" rel="lightbox"><img src="https://lh3.googleusercontent.com/-GYyt5KWRy8U/UOJWFFYYUII/AAAAAAAAAIg/Dc2XNqW7Y-Y/s197/first.png" class="does_pictures"></a>
      </div>
    </div>  
  </div>  
  <div class="row does_description_whole">
    <div class="row offset2">
      <div class="span4">
        <a href="https://lh3.googleusercontent.com/-TkoEnihSdhY/UOetfLVPynI/AAAAAAAAAOk/ZYOyPUO0zvQ/s718/does_2nd.png" rel="lightbox"><img src="https://lh3.googleusercontent.com/-HMQfGaU5_sg/UOJbj5110zI/AAAAAAAAAJ0/x8yiz3vqkI4/s197/2nd.png" class="does_pictures"></a>
      </div>
      <div class="span4 does_description_text">
        <h3><%= image_tag('map-2.png') %> What's it gonna take?</h3>
        <p> Hold yourself and others accountable. Name, assign and track what's needed to finish.</p>
      </div>
    </div>  
  </div>
  <div class="row does_description_whole">
    <div class="row offset2">
      <div class="span4 does_description_text">
        <h3><%= image_tag('users.png') %> Invite and assign</h3>
        <p>Occasionally, it takes more than 1 person to accomplish something. Invite by email and assign straight from the project.</p>
      </div>
      <div class="span4">
        <a href="https://lh3.googleusercontent.com/-cNGXw32l_f0/UOe0rzuM5vI/AAAAAAAAAPA/H1LtrwFghxg/s797/invite%2520and%2520assign.png" rel="lightbox"><img src="https://lh5.googleusercontent.com/-WmkrEZGmSEE/UOJh-cedrlI/AAAAAAAAAKU/XdWm7rsLLFM/s197/3rd.png" class="does_pictures"></a>
      </div>
    </div>  
  </div>
  <div class="row does_description_whole">
    <div class="row offset2">
      <div class="span4">
        <a href="https://lh3.googleusercontent.com/-zGA1sBDfC6U/UOe0r4asZHI/AAAAAAAAAPI/oZgFhVFV-fA/s773/does_fun.png" rel="lightbox"><img src="https://lh3.googleusercontent.com/-S8GHkY2enpA/UOJjusj6FAI/AAAAAAAAAKw/_91No5SjJ_U/s197/4th.png" class="does_pictures"></a>
      </div>
      <div class="span4 does_description_text">
        <h3><%= image_tag('tick.png') %> Now the fun part</h3>
        <p>Peg a completion percentage to what you need to finish and see how good you and your team are.</p>
      </div>
    </div>  
  </div>
  <div class="row does_description_whole">
    <div class="row offset2">
      <div class="span4 does_description_text">
        <h3><%= image_tag('folder-duplicate.png') %> Joe Popular</h3>
        <p>You might have more than one thing going on and sometimes people want to know how close you are to done (including you).<br><br>Rinse and repeat to have a quick look at everything.</p>
      </div>
      <div class="span4">
        <a href="https://lh6.googleusercontent.com/-zGs2lLuYKkI/UOe0r7Dn-BI/AAAAAAAAAPE/RR_l1GBkyBQ/s951/joe_does.png" rel="lightbox"><img src="https://lh3.googleusercontent.com/-id0Wagqx8lY/UOKAOfs7RvI/AAAAAAAAAOE/jNnzINCaIZA/s197/glance_town.png" class="does_pictures"></a>
      </div>
    </div>  
  </div>
  <div class="row does_description_whole" style="border-bottom:none;">
    <div class="row offset2">
      <div class="span9">
         <h2>Simple. <small> See the rest on the <%= link_to "inside", new_user_registration_path %> or see <%= link_to "why it exists.", benefits_path %></small></h2> 
      </div>
    </div>  
    <br>
    <div class="row">
      <div class="offset6">
        <%= link_to "Inside.", new_user_registration_path, :class => "btn btn-success" %>
        <%= link_to "Exists.", benefits_path, :class => "btn btn-info"  %>
      </div>
    </div>
  </div>
</div>  
<%= render 'layouts/footer' %>