<div class="row nav-under-wrapper">
  <% if !user_signed_in? %>
    <ul class="nav-under-not-home pull-right">
      <li><%= link_to "Home", root_path  %></li>
     <li class='imhere'><%= link_to "What it does", does_path  %></li>
     <li><%= link_to "Benefits of using", benefits_path  %></li>
     <li id="right-link"><%= link_to "What it costs", pricing_path  %></li>
    <% end %>
  </ul>
</div>
<div class="row does_description_whole" style="background-color: red;">
  <div class="row">
    <div class="span3">
      <p>This is how this shit works</p>
    </div>
  </div>  
</div>
<div class="row does_description_whole">
  <div class="row offset3">
    <div class="span3 does_description_text">
      <h4>Create Your Project</h4>
      <p>Screenshot of clicking new project and something smart/funny</p>
    </div>
    <div class="span3">
      <img src="https://lh3.googleusercontent.com/-GYyt5KWRy8U/UOJWFFYYUII/AAAAAAAAAIg/Dc2XNqW7Y-Y/s197/first.png" class="does_pictures">
    </div>
  </div>  
</div>  
<div class="row does_description_whole">
  <div class="row offset3">
    <div class="span3">
      <img src="https://lh3.googleusercontent.com/-HMQfGaU5_sg/UOJbj5110zI/AAAAAAAAAJ0/x8yiz3vqkI4/s197/2nd.png" class="does_pictures">
    </div>
    <div class="span3 does_description_text">
      <h4>Things to do</h4>
      <p>Keep track of the things needed to complete this thing</p>
    </div>
  </div>  
</div>
<div class="row does_description_whole">
  <div class="row offset3">
    <div class="span3 does_description_text">
      <h4>Invite and assign</h4>
      <p>Sometimes it takes more than 1 person to do somethings invite and assign them.</p>
    </div>
    <div class="span3">
      <img src="https://lh5.googleusercontent.com/-WmkrEZGmSEE/UOJh-cedrlI/AAAAAAAAAKU/XdWm7rsLLFM/s197/3rd.png" class="does_pictures">
    </div>
  </div>  
</div>
<div class="row does_description_whole">
  <div class="row offset3">
    <div class="span3">
      <img src="https://lh3.googleusercontent.com/-S8GHkY2enpA/UOJjusj6FAI/AAAAAAAAAKw/_91No5SjJ_U/s197/4th.png" class="does_pictures">
    </div>
    <div class="span3 does_description_text">
      <h4>This Hear it Roar</h4>
      <p>This is your and this is how close it is to completion.</p>
    </div>
  </div>  
</div>
<div class="row does_description_whole">
  <div class="row offset3">
    <div class="span3 does_description_text">
      <h4>Multiple</h4>
      <p>Maybe you have more things you need to do. Rinse and repeat to have a quick look at everything</p>
    </div>
    <div class="span3">
      <img src="https://lh3.googleusercontent.com/-id0Wagqx8lY/UOKAOfs7RvI/AAAAAAAAAOE/jNnzINCaIZA/s197/glance_town.png" class="does_pictures">
    </div>
  </div>  
</div>
<div class="row does_description_whole">
  <div class="row offset3">
    <div class="span9">
       <h2>Simple. <small> See the rest on the <%= link_to "inside", new_user_registration_path %> or see <%= link_to "why it exists.", benefits_path %></small></h2> 
    </div>
  </div>  
  <br>
  <div class="row">
    <div class="offset6">
      <%= link_to "Inside.", new_user_registration_path, :class => "btn btn-success" %>
      <%= link_to "Exists.", benefits_path, :class => "btn btn-info"  %>
    </div>
  </div>
</div>