<!DOCTYPE html>
<html>
<head>
  <title>Gagelist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js", "rails.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="#" class="brand">Shutup</a>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.full_name, "#"%></li>
            <li><%= link_to "My Projects", lists_path  %></li>
            <li><%= link_to "Settings", edit_user_registration_path%></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
          <% else %>  
          <li><%= link_to "Login", user_session_path  %></li> 
          <li><%= link_to "Sign Up", new_user_registration_path  %></li> 
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  
<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>  
 <%= yield %>
</div>
<div class="row" id="front_container">
  <div class="container" id="front_hold">
    <div class="offset4">
    </div>
    <div class="row offset1">
      <div class="span4" id="front_mktng_copy">
        <span id="front_mktng_title"><h1>Because at the end of the day...</h1></span><br>
        <p><em>..sigh</em> What did you actually DO by the end of the day? Use this to call people out and actually see what you accomplished.
        
        </p>
        <ul class="nav nav-pills" id="front_mktng_list_thumb">
          <li id="front_mktng_thumbs"><img src="http://placehold.it/57x57"></li>
          <li id="front_mktng_thumbs"><img src="http://placehold.it/57x57"></li>
          <li id="front_mktng_thumbs"><img src="http://placehold.it/57x57"></li>
          <li id="front_mktng_thumbs"><img src="http://placehold.it/57x57"></li>
        </ul>
      </div>
      <div class="span6" id="front_mktng_image"> 
        <img src="http://placehold.it/612x330">
      </div>
    </div>
  </div>
</div>
<div class="row" id="next_front_container">
  <div class="container" id="second_front_hold">
    <section class="front_pricing_box">
       <div class="row">
        <div class="well span3">
          <div class="row front_pricing_header">
              This has got to be the header with a div inside
          </div>
          <div class="front_pricing_lead">Ideal for folks and teams that want to be more productive.</div>
          <div class="row front_copy_icon">
            <div class="front_icon_space"><icon class="icon-ok"></icon></div>
            <div class="front_pricing_copy">Infinite Projects</div>
          </div>
          <div class="row front_copy_icon">
            <div class="front_icon_space"><icon class="icon-ok"></icon></div>
            <div class="front_pricing_copy">Infinite Collaborators</div>
          </div>
          <div class="row front_copy_icon">
            <div class="front_icon_space"><icon class="icon-ban-circle"></icon></div>
            <div class="front_pricing_copy">NO Statistics</div>
          </div>
          <div class="row front_actual_price">
            <div><h1>Free</h1></div>
          </div>
          <div class="row front_price_button">
            <button type="button" class="btn btn-info">Track Doing</button>
          </div>  
        </div>  
        <div class="well span3">
          <div class="row front_pricing_header">
              This has got to be the header with a div inside
          </div>
          <div class="front_pricing_lead">Ideal for folks and teams wanting hard #&rsquo;s for productivity.</div>
          <div class="row front_copy_icon">
            <div class="front_icon_space"><icon class="icon-ok"></div>
            <div class="front_pricing_copy">Infinite Projects</div>
          </div>
          <div class="row front_copy_icon">
            <div class="front_icon_space"><icon class="icon-ok"></div>
            <div class="front_pricing_copy">Infinite Collaborators</div>
          </div>
          <div class="row front_copy_icon">
            <div class="front_icon_space"><icon class="icon-ok"></div>
            <div class="front_pricing_copy">Productivity Stats</div>
          </div>
          <div class="row front_actual_price">
            <div><h1>15/month</h1></div>
          </div>
          <div class="row front_price_button">
            <button type="button" class="btn btn-info">Get Productivity Stats</button>
          </div>  
        </div>
       </div>
    </section>  
  </div>
</div>
</body>
</html>



