<!DOCTYPE html>
<html>
<head>
  <title>Gagelist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js", "rails.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="#" class="brand">Shutup</a>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.full_name, "#"%></li>
            <li><%= link_to "My Projects", lists_path  %></li>
            <li><%= link_to "Settings", edit_user_registration_path%></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
          <% else %>  
          <li><%= link_to "Login", user_session_path  %></li> 
          <li><%= link_to "Sign Up", new_user_registration_path  %></li> 
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  
<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>  
 <%= yield %>
</div>
<div class="row" id="front_container">
  <div class="container" id="front_hold">
    <div class="row">
      <div class="span4" id="front_mktng_copy">
        <span id="front_mktng_title"><h1>Because at the end of the day...</h1></span><br>
        <p><em>..sigh</em> What did you actually DO by the end of the day? Use this to call people out and actually see what you accomplished.
        
        </p>
        <ul class="carousel-linked-nav" id="front_mktng_list_thumb">
          <li class="active" id="front_mktng_thumbs"><a href="#1"><img class="thumb_mktng_border" src="https://lh6.googleusercontent.com/--du4_B7f7P4/UMPCbHTWfdI/AAAAAAAAAEs/4N6Jo6ddWsM/s57/index_small.png"></a></li>
          <li id="front_mktng_thumbs"><a href="#2"><img class="thumb_mktng_border" src="https://lh3.googleusercontent.com/-dYq06W0Cj-Q/UMPEUzqErCI/AAAAAAAAAFI/SBUXaSXJ0Iw/s57/front_2_small.png"></a></li>
          <li id="front_mktng_thumbs"><a href="#3"><img class="thumb_mktng_border" src="https://lh5.googleusercontent.com/-MWqqFIXOnvg/UMPP7YE4JaI/AAAAAAAAAF4/QXgHiU17Bsc/s57/help_list.png"></a></li>
          <li id="front_mktng_thumbs"><a href="#4"><img class="thumb_mktng_border" src="http://placehold.it/57x57"></a></li>
        </ul>
      </div>
       <div id="myCarousel" class="carousel slide carousel-fade">
          <div class="carousel-inner span6 image_mktng_border" id="front_mktng_image" > 
            <div class="active item"><img src="https://lh6.googleusercontent.com/-tiE0xjfFkZo/UMPBiQWFwkI/AAAAAAAAAEU/WHkGnEgo4ps/s612/Screen%2520Shot%25202012-12-08%2520at%25202.37.00%2520PM.png"></div>
            <div class="item"><img src="https://lh3.googleusercontent.com/-x4i5P8MrDBk/UMPP7f3aOoI/AAAAAAAAAGA/aEI9EE8Bmx4/s612/second_front_large.png"></div>
            <div class="item"><img src="https://lh3.googleusercontent.com/-bPTFqazKrpE/UMPP7QRe4lI/AAAAAAAAAF8/2e7MrS-Sfxs/s612/help.png"></div>
            <div class="item"><iframe width="630" height="330" src="http://www.youtube.com/embed/xW7AAKjDclQ" frameborder="0" allowfullscreen></iframe></div>
         </div>  
       </div>  
      </div>
    </div>    
  </div>
</div>
<div class="row" id="next_front_container">
  <div class="container" id="front_hold">
    <div class="container" id="geez_front_hold">
      <div class="row">
       <div class="span7">
          <h3>Get that shit done in a big way</h3>
       </div>  
        <a href="#from_the_top" id="no_underline">
          <div id="link_to_signup_section">
            <p>Get things done</p>
          </div>
        </a>
      </div>
      <div class="row top_middle_left_row">
        <div class="top_left span4">
          <div class="span3">
            <h4>Cut the chit chat</h4>
            <p>No comments, file uploads, email threads, or countless meetings. Quickly answer the <button class="btn btn-link custom_btn_link">3 most important questions</button> surrounding any personal or collaborative thing to be done.</p>
              <ul id="three_questions">
                <li>Where are we at on this?</li>
                <li>Who/What are we waiting on?</li>
                <li>What have we done to finish it?</li>
              </ul>
          </div>
        </div>  
        <div class="top_middle span4">
          <div class="span3">
            <h4>Different Planet</h4>
            <p> You will be amazed at how well this workflow will help you get back to the fundamentals of completing meaningful projects. Careful though because it forces you to be good. </p>
          </div>
        </div>
        <div class="top_right span4">
          <div class="span3">
            <h4>Take the pressure off you</h4>
            <p>Asking someone for something is worse than pulling teeth. Use shutup and suddenly, it's not me asking you to do something for me, it's you and me trying to pull this tooth out together.  </p>
          </div>
        </div>  
      </div>
    </div>  
  </div>
</div>
<div class="row" id="third_front_container">
  <div class="container" id="front_hold">
    <div class="container" id="second_front_hold">
      <section class="front_pricing_box">
         <div class="row">
           <div class="span5 offset1">
            <div id="front_gage" style="height:240px; width:300px;">
            </div>
           </div>  
          <!-- </div>
          <div class="well span3">
            <div class="row front_pricing_header">
                <icon class="icon-gift"></icon>This has got to be the header with a div inside
            </div>
            <div class="front_pricing_lead">Ideal for folks and teams that want to be more productive.</div>
            <div class="row front_copy_icon">
              <div class="front_icon_space"><icon class="icon-ok"></icon></div>
              <div class="front_pricing_copy">Infinite Projects</div>
            </div>
            <div class="row front_copy_icon">
              <div class="front_icon_space"><icon class="icon-ok"></icon></div>
              <div class="front_pricing_copy">Infinite Collaborators</div>
            </div>
            <div class="row front_copy_icon">
              <div class="front_icon_space"><icon class="icon-ban-circle"></icon></div>
              <div class="front_pricing_copy">NO Statistics</div>
            </div>
            <div class="row front_actual_price">
              <div><h1>Free</h1></div>
            </div>
            <div class="row front_price_button">
              <button type="button" class="btn btn-info">Track Doing</button>
            </div>  
          </div>  
          <div class="well span3">
            <div class="row front_pricing_header">
                <icon class="icon-heart"></icon>This has got to be the header with a div inside
            </div>
            <div class="front_pricing_lead">Ideal for folks and teams wanting hard #&rsquo;s for productivity.</div>
            <div class="row front_copy_icon">
              <div class="front_icon_space"><icon class="icon-ok"></div>
              <div class="front_pricing_copy">Infinite Projects</div>
            </div>
            <div class="row front_copy_icon">
              <div class="front_icon_space"><icon class="icon-ok"></div>
              <div class="front_pricing_copy">Infinite Collaborators</div>
            </div>
            <div class="row front_copy_icon">
              <div class="front_icon_space"><icon class="icon-ok"></div>
              <div class="front_pricing_copy">Productivity Stats</div>
            </div>
            <div class="row front_actual_price">
              <div><h1>15/month</h1></div>
            </div>
            <div class="row front_price_button">

              <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info">Get Productivity Stats</button>
            </div>  
          </div> -->
          <div class="signup_well span4">
            <div class="row front_signup_lead">Sign up today!</div>
            <div class="row actual_signup_form" id="from_the_top">
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <div>
                <%= f.text_field :first_name, :placeholder => "First Name" %></div>
                <div class="first_step">
                <%= f.text_field :last_name, :placeholder => "Last Name" %></div>
                <div class="second_step">
                <%= f.text_field :profile_name, :placeholder => "Profile Name" %></div>
                <div class="second_step">
                <%= f.email_field :email, :placeholder => "Email" %></div>
                <div class="third_step">
                <%= f.password_field :password, :placeholder => "Password" %></div>
                <div class="third_step">
                <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></div>
                <div id="submit_front_button"><%= f.submit "Get Things Done", :class => "actual_button" %></div>
              <% end %>
              <!-- <button id="next_step" class="btn btn-info">Just let me know</button> -->
            </div>    
          </div>
         </div>
      </section>
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Thanks for your interest</h3>
        </div>
        <div class="modal-body">
          Thanks, if there is enough interest we'll surface this feature to everybody. Leave your email below
          and we'll let you know when it becomes live.<br><br> 
          <form action="http://54footy.us6.list-manage.com/subscribe/post?u=75be350a2fc163133d4fc6382&amp;id=b80fb22f82" class="form-horizontal" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
            <div class="control-group">
              <div class="controls">
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email" required>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
              </div>
            </div>
          </form>
          In the meantime start using the free version to gather your stats.
        </div>
      </div> 
    </div>
    
  </div>
</div>
<script>
  $('#myCarousel').carousel({
    interval: 444000,
    pause: true
  });
  
  $('.carousel-linked-nav > li > a').click(function() {
      // grab href, remove pound sign, convert to number
      var item = Number($(this).attr('href').substring(1));
      // slide to number -1 (account for zero indexing)
      $('#myCarousel').carousel(item - 1);
      // remove current active class
      $('.carousel-linked-nav .active').removeClass('active');
      // add active class to just clicked on item
      $(this).parent().addClass('active');
      // don't follow the link
      return false;
    });
</script>

<script>
  var front_index_gage = new JustGage({
    id: "front_gage", 
    value: 0, 
    min: 0,
    max: 100,
    title: "Your Next Project",
    startAnimationType: "bounce",
    refreshAnimationType: "bounce",
    refreshAnimationTime: 700,
    startAnimationTime: 500
    
  });
</script>
</body>
</html>



