<div class="row nav-under-wrapper">
  <% if !user_signed_in? %>
    <ul class="nav-under-not-home pull-right">
      <li><%= link_to "Home", root_path  %></li>
     <li><%= link_to "What it does", does_path  %></li>
     <li><%= link_to "Benefits of using", benefits_path  %></li>
     <li class='imhere' id="right-link"><%= link_to "What it costs", pricing_path  %></li>
    <% end %>
  </ul>
</div><br>
<div class="row">
  <h1 class="page-header" style="text-align: center;">Pay once and use without limit.<br><small> One time charge of $50 to <%= link_to "use as you please", new_user_registration_path %>. </small></h1>
</div>
<div class="container">
  <div class="offset4 well span3">
    <div class="row front_pricing_header">
        Upgrade the way you work and thoroughly impress yourself
    </div>
    <div class="front_pricing_lead">Specifically designed for results-driven people and teams.</div>
    <div class="row front_copy_icon">
      <div class="front_icon_space"><icon class="icon-plus"></icon></div>
      <div class="front_pricing_copy">Infinite Tasks</div>
    </div>
    <div class="row front_copy_icon">
      <div class="front_icon_space"><icon class="icon-plus"></icon></div>
      <div class="front_pricing_copy">Infinite Projects</div>
    </div>
    <div class="row front_copy_icon">
      <div class="front_icon_space"><icon class="icon-plus"></icon></div>
      <div class="front_pricing_copy">Infinite Collaborators</div>
    </div>
    <div class="row front_copy_icon">
      <div class="front_icon_space"><icon class="icon-plus"></icon></div>
      <div class="front_pricing_copy">Infinite Accountability</div>
    </div>
    <div class="row front_actual_price">
      <div><h1>$50 once</h1></div>
    </div>
      <span style="margin-left:35px;"><%= link_to "Free Trial First", new_user_registration_path, :class => "btn btn-success btn-large" %></span>
  </div>
</div>  
<%= render 'layouts/footer' %>