<div class="row nav-under-wrapper">
  <% if !user_signed_in? %>
    <ul class="nav-under-not-home pull-right">
      <li><%= link_to "Home", root_path  %></li>
     <li><%= link_to "What it does", does_path  %></li>
     <li><%= link_to "Benefits of using", benefits_path  %></li>
     <li id="right-link"><%= link_to "What it costs", pricing_path  %></li>
    <% end %>
  </ul>
</div><br>
<h3 class="page-header">Terms and Privacy</h3>

<h4>Terms</h4>
 <p><b>TERMS OF USE</b><br>
 Welcome to the refreshrunner web application by the refreshrunner Domain Holder (DH), (“refreshrunner”, “we”, “us”)! The application as a whole and all rights, titles, and interests in and to the application are owned by the refreshrunner, DH. These terms were last updated on January 13, 2013, and the fivefourfooty team reserves the right to change and update them without warning or notification.<br><br>

 <b>PLEASE REVIEW THE TERMS AND CONDITIONS BELOW CAREFULLY BEFORE USING THE APPLICATION.</b><br>
 Your access and use of the refreshrunner application is governed by the following terms of use (“terms”). If you do not agree with these terms please exit and Do Not Use the application. By using the application you are hereby agreeing to abide by both the terms detailed below as well as the Privacy Policy.<br><br>

 <b>WHAT YOU CANNOT DO WITH THE APPLICATION</b><br>
 In addition to the other restrictions outlined in these terms, when using the refreshrunner application, you agree to not: 1) Use any data mining or extraction methods in relation with the application; 2) Interfere with or hinder the operation of the application or any other individual’s use of the application in any way; 3) Inflict or impose any perverse or excessive burden on the application in any way; 4) Compromise the security of the application; 5) Use the application for any purpose that is illegal, beyond the scope of the application’s intended use, or prohibited in these terms; 6) Utilize the application to transmit spam, viruses, bugs or any material that could be considered racist, threatening, or unlawful in any way.<br><br>

 <b>ACCOUNT SECURITY</b><br>
 After opening an account in the refreshrunner web application (username/password) you accept all responsibility for any activity that occurs while logged into your account. Subsequently, you alone are responsible for making sure that your account information including your username and password is kept secure and safe. In the case that your refreshrunnner account is compromised, please notify the fivefourfooty team immediately at hello@refreshrunner.com.<br><br>

 <b>INTELLECTUAL PROPERTY</b><br>
 Unless otherwise stated, all materials on the refreshrunner web application, including, but not limited to, text, graphics, images, illustrations, designs, icons, photographs, video clips, and written and other materials that appear as part of the application, as well as their selection and arrangement are (pending) protection by copyright, trademark, trade dress, patent, and/or other intellectual property laws, and any unauthorized use of this content (can) violate such laws and these terms. Except as expressly provided herein, the fivefourfooty team does not grant any express or implied rights to use this content. By agreeing to these terms you agree that you will not copy, reproduce, republish, frame, download, transmit, modify, display, reverse sell, or participate in any sale of, rent, lease, loan, assign, distribute, license, sublicense, or exploit in any way, in whole or in part, any of the content, the application or any related software, except as expressly provided herein.<br><br>
 
 <b>INDEMNIFICATION</b><br>
 By agreeing to these terms you agree to indemnify, defend, and hold harmless the refreshrunner DH, its managing members, shareholders, employees, subsidiaries, affiliates, licensors and supplies from and against any and all complaints, charges, claims, damages, losses, costs, liabilities, and expenses (including attorneys’ fees) due to, arising out of, or relating in any way to your use of the application.<br><br>

 <b>LIMITATION OF LIABILITY</b><br>
 Except where prohibited by law, in no event will the refreshrunner DH or any of its affiliated entities be liable for any indirect, special, punitive, incidental, exemplary or consequential damages that result from- 1) the use of, or inability to use, the application; 2) the performance of the services and materials available from the application; or 3) the conduct of other users of the application, even if the refreshrunner DH has been advised of the possibility of such damages. You assume total responsibility for your use of the application. Your only remedy against the refreshrunner DH for dissatisfaction with the application or any content is to stop using the application. If, notwithstanding the terms, the refreshrunner DH is found liable to you for any damage or loss which arises out of or is in any way connected with your use of the application or any content, the refreshrunner DH liability shall in no event exceed $50.00. Some jurisdictions do not allow limitations of liability, so the foregoing limitation may not apply to you.<br><br>

 <b>CONTROLLING LAW AND SEVERABILITY</b><br>
 This agreement, as well as the fivefourfooty privacy policy, shall be construed in accordance with the laws of the State of California. Any subsequent dispute arising under the terms of this agreement will be settled exclusively in the state/federal courts of the State of California, county of San Francisco, and/or the Central District of California.<br><br>
 
 <b>Payment</b><br>
 You understand that as of this writing (March 10 2013) any credit card payment you make for continued use will be going to the individual that owns the domain name refreshrunner.com. I am 
 an individual developer that will register as an LLC if enough (customer) interest is given in this product. 
 There is no attempt to deceive, I have an offering and if you find it valuable to the sum $50.00
 you understand you will be paying me directly as a sole proprietor with the intent to register as an LLC should the revenue gained from the sole proprietorship cover the initial setup costs of registering the business entity. Also, known as bootstrapping. In doing so you release the DH of 
 refreshrunner of any serious legal action as I'm just trying to help people and get paid doing it. 
 
 
 <b>REFUNDS</b><br>
  All reservations and hesitations about paying for refreshurnner should be sorted out in the 45-day free trial. Refunds are not given. We are reasonable people and in the event of extreme circumstances refunds not exceeding $50.00 USD will be considered. Refunds after 2 years of service (after) the date of signing up for the refreshrunner service will NOT be given. Again, we are reasonable people but to maintain a refund policy after a 2 year warrantly is not reasonable for this business. Questions about refunds hello@refreshrunner.com</p>

 <b>SPECIAL NOTE TO INTERNATIONAL USERS</b><br>
 The fivefourfooty Sites and Services are hosted in the United States and are intended for and directed to Users in the United States. If you are a User accessing the fivefourfooty Sites and Services from the European Union, Asia, or any other region with laws or regulations governing personal data collection, use, and disclosure, that differ from United States laws, please be advised that through your continued use of the fivefourfooty Sites and Services, which are governed by U.S. law, this Privacy Notice, and our Terms of Service, you are transferring your personal information to the United States and you consent to that transfer.<br><br>

 <b>COMPLETE AGREEMENT</b></br>
 These terms supersede all prior understandings regarding the same and represent the complete agreement between you and the fivefourfooty team. No changes or amendments to these terms will be binding unless in writing and signed by us.<br><br>

<b>QUESTIONS AND COMMENTS</b><br>
 The fivefourfooty team welcomes any comments, questions, concerns, or suggestions that you might have. Please send all feedback to hello@refreshrunner.com.</p>
<br>
<hr>
<br> 
<h4>Privacy</h4>
Effective Date: January 30, 2013<br>

<b>WHO WE ARE:</b><br>
refreshrunner (“refreshrunner”, “we”, “us”) is a product of the refreshrunner Domain Holder (DH). We are currently based in San Francisco, California. This privacy policy has been prepared to clarify how we gather, utilize, disclose, and protect your personal information, as well as your messaging data (as defined below). If you have any questions regarding these policies, please send an email to hello@refreshrunner.com. This policy was last revised on January 13th, 2013 and we reserve the right to change these policies without notification or warning.
<br><br>
<b>INFORMATION WE COLLECT</b><br>
Personal Information: For the purposes of this privacy policy, ‘personal information’ is taken to mean any information that specifically identifies an individual (such as a name, e-mail address, or list and task information). This does not include ‘aggregate’ information, which includes data that we collect about the use of our application and our services. This privacy policy does not restrict or limit our collection and use of aggregate information in any way. We will be tracking productivity stats as a product but with only sell this data to you or those that you consent to (i.e. work team members). 
<br><br>
<b>Usage Data:</b><br>
refreshrunner collects the following personal information about its users: first name, last name, username, password, email. Additionally, we do collect usage information. This information does not identify individual users, but allows us to collect information regarding how users access and utilize the mobile application (“Usage Data”). Once a user has signed up for and started using refreshrunner, we automatically aggregate information such as the type of device used, its specific operating system, and its device identifier (UDID). We use all of this information to investigate trends and to restructure and improve the functional aspects of the refreshrunner application. We may use website analytic tracking to identify various habits of users to further improve the product. 
<br><br>
<b>Application Data:</b><br>
When you create lists, and assing/create tasks using the refreshrunner service, we take avaiablable actions to ensure the security of this data, as we grow and our system becomes more sophisticated this security will vastly improve. Currently we have an SSl certificate protecting the entire application. NOTE: this does not include billing information which is under a separate security protocol and is ensured to be secure in the same way banks process this type of information. 
<br><br>
<b>SHARING</b><br>
We may share your personal information with third parties including as follows:
<br><br>
with your consent, for example, when you agree to our sharing your information with other third parties for their own marketing purposes subject to their separate privacy policies;
with third party vendors, consultants and other service providers who work for us and need access to your information to do that work;
to (i) comply with laws or to respond to lawful requests and legal process, (ii) to protect the rights and property of refreshrunner DH our agents, customers, members, and others including to enforce our agreements, policies and terms of use or (iii) in an emergency to protect the personal safety of refreshrunner DH , its customers, or any person;
in connection with or during negotiation of any merger, financing, acquisition or dissolution, transaction or proceeding involving sale, transfer, divestiture or disclosure of all or a portion of our business or assets to another company.
We may also share aggregated or deidentified information.
<br><br>
<b>DATA SECURITY</b><br>
refreshrunner DH takes reasonable steps to help protect your personal information in an effort to prevent loss, misuse, and unauthorized access, disclosure, alteration and destruction. There are a number of risks in transmitting any kind of data over the public Internet and under no circumstances should you use the refreshrunner that if leaked could put you in physical, financial or lawful danger. 
<br>
<b>OUR AUDIENCE</b><br>
The refreshrunner service is intended for use by people who are 13 years of age or older. Minors over the age of 13 should seek permission from their parents to use the application.
<br><br>
<b>COMPLIANCE WITH LAWS AND LAW ENFORCEMENT</b><br>
refreshrunner DH cooperates with and assists all government and law enforcement officials to enforce and abide by the law. Consequently, we may disclose any information or data available, if we believe it is reasonably necessary to: (a) satisfy any and all applicable laws, regulations, legal processes, or enforceable governmental requests; (b) enforce the Terms or the Services, including investigation of potential violations thereof; (c) detect, prevent, or otherwise address fraud, security, or technical issues; or (d) protect against harm to the rights, property or safety of the refreshrunner DH, its users or the public as required or permitted by law.
<br><br>
<b>QUESTIONS AND COMMENTS</b><br>
The refreshrunner team welcomes any comments, questions, concerns, or suggestions that you might have. Please send all feedback to hello@refreshrunner.com.

<%= render 'layouts/footer' %>