<div class="row nav-under-wrapper">
  <% if !user_signed_in? %>
    <ul class="nav-under-not-home pull-right">
      <li><%= link_to "Home", root_path  %></li>
     <li><%= link_to "What it does", does_path  %></li>
     <li><%= link_to "Benefits of using", benefits_path  %></li>
     <li id="right-link"><%= link_to "What it costs", pricing_path  %></li>
    <% end %>
  </ul>
</div><br>
<h3 class="page-header">Terms and Privacy</h3>

<h4>Terms</h4>
 <p><b>TERMS OF USE</b><br>
 Welcome to the refreshrunner web application by fivefourfooty, LLC (“fivefourfooty”, “we”, “us”)! The application as a whole and all rights, titles, and interests in and to the application are owned by the fivefourfooty, LLC. These terms were last updated on Jan 29, 2013, and the fivefourfooty team reserves the right to change and update them without warning or notification.<br><br>

 <b>PLEASE REVIEW THE TERMS AND CONDITIONS BELOW CAREFULLY BEFORE USING THE APPLICATION.</b><br>
 Your access and use of the refreshrunner application is governed by the following terms of use (“terms”). If you do not agree with these terms please exit and Do Not Use the application. By using the application you are hereby agreeing to abide by both the terms detailed below as well as the Privacy Policy.<br><br>

 <b>WHAT YOU CANNOT DO WITH THE APPLICATION</b><br>
 In addition to the other restrictions outlined in these terms, when using the fivefourfooty application, you agree to not: 1) Use any data mining or extraction methods in relation with the application; 2) Interfere with or hinder the operation of the application or any other individual’s use of the application in any way; 3) Inflict or impose any perverse or excessive burden on the application in any way; 4) Compromise the security of the application; 5) Use the application for any purpose that is illegal, beyond the scope of the application’s intended use, or prohibited in these terms; 6) Utilize the application to transmit spam, viruses, bugs or any material that could be considered racist, threatening, or unlawful in any way.<br><br>

 <b>ACCOUNT SECURITY</b><br>
 After opening an account in the refreshrunner web application (username/password) you accept all responsibility for any activity that occurs while logged into your account. Subsequently, you alone are responsible for making sure that your account information including your username and password is kept secure and safe. In the case that your refreshrunnner account is compromised, please notify the fivefourfooty team immediately at support@54footy.com.<br><br>

 <b>INTELLECTUAL PROPERTY</b><br>
 Unless otherwise stated, all materials on the refreshrunner web application, including, but not limited to, text, graphics, images, illustrations, designs, icons, photographs, video clips, and written and other materials that appear as part of the application, as well as their selection and arrangement are protected by copyright, trademark, trade dress, patent, and/or other intellectual property laws, and any unauthorized use of this content violates such laws and these terms. Except as expressly provided herein, the fivefourfooty team does not grant any express or implied rights to use this content. By agreeing to these terms you agree that you will not copy, reproduce, republish, frame, download, transmit, modify, display, reverse sell, or participate in any sale of, rent, lease, loan, assign, distribute, license, sublicense, or exploit in any way, in whole or in part, any of the content, the application or any related software, except as expressly provided herein.<br><br>
 
 <b>INDEMNIFICATION</b><br>
 By agreeing to these terms you agree to indemnify, defend, and hold harmless fivefourfooty, LLC, its managing members, shareholders, employees, subsidiaries, affiliates, licensors and supplies from and against any and all complaints, charges, claims, damages, losses, costs, liabilities, and expenses (including attorneys’ fees) due to, arising out of, or relating in any way to your use of the application.<br><br>

 <b>LIMITATION OF LIABILITY</b><br>
 Except where prohibited by law, in no event will fivefourfooty, LLC or any of its affiliated entities be liable for any indirect, special, punitive, incidental, exemplary or consequential damages that result from- 1) the use of, or inability to use, the application; 2) the performance of the services and materials available from the application; or 3) the conduct of other users of the application, even if fivefourfooty has been advised of the possibility of such damages. You assume total responsibility for your use of the application. Your only remedy against fivefourfooty for dissatisfaction with the application or any content is to stop using the application. If, notwithstanding the terms, fivefourfooty is found liable to you for any damage or loss which arises out of or is in any way connected with your use of the application or any content, fivefourfooty, LLC’s liability shall in no event exceed $50.00. Some jurisdictions do not allow limitations of liability, so the foregoing limitation may not apply to you.<br><br>

 <b>CONTROLLING LAW AND SEVERABILITY</b><br>
 This agreement, as well as the fivefourfooty privacy policy, shall be construed in accordance with the laws of the State of California. Any subsequent dispute arising under the terms of this agreement will be settled exclusively in the state/federal courts of the State of California, county of Los Angeles, and/or the Central District of California.<br><br>

 <b>SPECIAL NOTE TO INTERNATIONAL USERS</b><br>
 The fivefourfooty Sites and Services are hosted in the United States and are intended for and directed to Users in the United States. If you are a User accessing the fivefourfooty Sites and Services from the European Union, Asia, or any other region with laws or regulations governing personal data collection, use, and disclosure, that differ from United States laws, please be advised that through your continued use of the fivefourfooty Sites and Services, which are governed by U.S. law, this Privacy Notice, and our Terms of Service, you are transferring your personal information to the United States and you consent to that transfer.<br><br>

 <b>COMPLETE AGREEMENT</b></br>
 These terms supersede all prior understandings regarding the same and represent the complete agreement between you and the fivefourfooty team. No changes or amendments to these terms will be binding unless in writing and signed by us.<br><br>

<b>QUESTIONS AND COMMENTS</b><br>
 The fivefourfooty team welcomes any comments, questions, concerns, or suggestions that you might have. Please send all feedback to support@54footy.com.</p>
<br>
<hr>
<br> 
<h4>Privacy</h4>
Effective Date: June 24, 2011

WHO WE ARE:<br>
Snapchat (“Snapchat”, “we”, “us”) is a product of Snapchat, Inc. We are currently based in Pacific Palisades, California. This privacy policy has been prepared to clarify how we gather, utilize, disclose, and protect your personal information, as well as your messaging data (as defined below). If you have any questions regarding these policies, please send an email to privacy@snapchat.com. This policy was last revised on December 14, 2012 and we reserve the right to change these policies without notification or warning.
<br>
INFORMATION WE COLLECT<br>
Personal Information: For the purposes of this privacy policy, ‘personal information’ is taken to mean any information that specifically identifies an individual (such as a name, e-mail address, or mobile number). This does not include ‘aggregate’ information, which includes data that we collect about the use of our application and our services. This privacy policy does not restrict or limit our collection and use of aggregate information in any way.
<br>
Usage Data: <br>Snapchat collects the following personal information about its users: username, password, email, phone number, and Facebook ID for the purpose of finding friends on the service. Additionally, we do collect usage information. This information does not identify individual users, but allows us to collect information regarding how users access and utilize the mobile application (“Usage Data”). Once a user has downloaded and started using Snapchat, we automatically aggregate information such as the type of device used, its specific operating system, and its device identifier (UDID). We use all of this information to investigate trends and to restructure and improve the functional aspects of the Snapchat application. We do not ask for, track, or access any location-specific information from your device at any time while you are using the Snapchat application.
<br>
Message Data: <br>When you send or receive messages using the Snapchat services, we temporarily process and store your images and videos in order to provide our services. Although we attempt to delete image data as soon as possible after the message is transmitted, we cannot guarantee that the message contents will be deleted in every case. For example, users may take a picture of the message contents with another imaging device or capture a screenshot of the message contents on the device screen. Consequently, we are not able to guarantee that your messaging data will be deleted in all instances. Messages, therefore, are sent at the risk of the user.

Hardware Data: <br>We collect the MAC (Media Access Control) address of your mobile device, which we use internally for analytics. We use this data in aggregate.
<br>
SHARING<br>
We may share your personal information with third parties including as follows:
<br>
with your consent, for example, when you agree to our sharing your information with other third parties for their own marketing purposes subject to their separate privacy policies;
with third party vendors, consultants and other service providers who work for us and need access to your information to do that work;
to (i) comply with laws or to respond to lawful requests and legal process, (ii) to protect the rights and property of Snapchat our agents, customers, members, and others including to enforce our agreements, policies and terms of use or (iii) in an emergency to protect the personal safety of Snapchat , its customers, or any person;
in connection with or during negotiation of any merger, financing, acquisition or dissolution, transaction or proceeding involving sale, transfer, divestiture or disclosure of all or a portion of our business or assets to another company.
We may also share aggregated or deidentified information.
<br>
DATA SECURITY<br>
Snapchat takes reasonable steps to help protect your personal information in an effort to prevent loss, misuse, and unauthorized access, disclosure, alteration and destruction. There are a number of risks in transmitting any kind of data over the public Internet and under no circumstances should you use the Snapchat service to transmit confidential or privileged information of any sort.
<br>
OUR AUDIENCE<br>
The Snapchat service is intended for use by people who are 13 years of age or older. Minors over the age of 13 should seek permission from their parents to use the application.
<br>
COMPLIANCE WITH LAWS AND LAW ENFORCEMENT<br>
Snapchat cooperates with and assists all government and law enforcement officials to enforce and abide by the law. Consequently, we may disclose any information or data available, if we believe it is reasonably necessary to: (a) satisfy any and all applicable laws, regulations, legal processes, or enforceable governmental requests; (b) enforce the Terms or the Services, including investigation of potential violations thereof; (c) detect, prevent, or otherwise address fraud, security, or technical issues; or (d) protect against harm to the rights, property or safety of Snapchat, its users or the public as required or permitted by law.
<br>
QUESTIONS AND COMMENTS<br>
The Snapchat team welcomes any comments, questions, concerns, or suggestions that you might have. Please send all feedback to support@snapchat.com.
<div class="container">
  <footer class="footer">
    <small class="pull-left">
      <ul>
        <li><a href="http://railstutorial.org/">fivefourfooty,</a> 2012 LLC</li><br>
        <li><%= link_to image_tag("/assets/twitter.png"), "#twitter", :data => { :toggle =>"modal" } %></li>
        <li><%= link_to image_tag("/assets/facebook.png"), "#facebook", :data => { :toggle =>"modal" } %></li>
        <li><%= link_to image_tag("/assets/linkedin.png"), "#linkedin", :data => { :toggle => "modal" }%></li>
      </ul>
    </small>
    <nav>
      <small class="pull-right">
        <ul>
          <li><%= link_to "About",   '#' %></li>
          <li><a href="mailto:tony@54footy.com">Contact</a></li>
          <li><%= link_to "Terms", '#' %></li>
          <li><%= link_to "Privacy", '#' %></li>
          <li><a href="blog.54footy.com">Blog</a></li>
        </ul>
      </small>
    </nav>
  </footer>
</div>
<div id="twitter" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Hey!</h3>
  </div>
  <div class="modal-body">
    <p>Put the twitter down and get back to meaningful work</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<div id="facebook" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Hey!</h3>
  </div>
  <div class="modal-body">
    <p>When did their design and experience get so messy? Oh right when they didn't charge for using'</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<div id="linkedin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Hey!</h3>
  </div>
  <div class="modal-body">
    <p>Their CEO wrote a book called "The startup of you". I mean come on.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>