<div class="row nav-under-wrapper">
  <% if !user_signed_in? %>
    <ul class="nav-under-not-home pull-right">
     <li><%= link_to "Home", root_path  %></li>  
     <li><%= link_to "What it does", does_path  %></li>
     <li><%= link_to "Benefits of using", benefits_path  %></li>
     <li id="right-link"><%= link_to "What it costs", pricing_path  %></li>
    <% end %>
  </ul>
</div>
<div class="row" style="margin-top: 60px;">
  <div class="span4 offset4">
    <div class="span4 signup_well">
      <legend> Sign in</legend>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.email_field :email, :placeholder => "Your email" %>
        <%= f.password_field :password, :placeholder => "Your Password" %><br>
        <% if devise_mapping.rememberable? -%>
         <%= f.check_box :remember_me %> <span class="help-inline"><%= f.label :remember_me %></span><br><br>
        <% end -%>
        <%= f.submit "Sign in", :class => "btn" %>
      <% end %>
    </div>  
  </div>  
</div>
<div class="offset5"><small><%= render "devise/shared/links" %></small></div>
<div class="container">
  <footer class="footer">
    <small class="pull-left">
      <ul>
        <li><a href="http://railstutorial.org/">fivefourfooty,</a> 2012 LLC</li><br>
        <li><%= link_to image_tag("/assets/twitter.png"), "#twitter", :data => { :toggle =>"modal" } %></li>
        <li><%= link_to image_tag("/assets/facebook.png"), "#facebook", :data => { :toggle =>"modal" } %></li>
        <li><%= link_to image_tag("/assets/linkedin.png"), "#linkedin", :data => { :toggle => "modal" }%></li>
      </ul>
    </small>
    <nav>
      <small class="pull-right">
        <ul>
          <li><%= link_to "About",   '#' %></li>
          <li><a href="mailto:tony@54footy.com">Contact</a></li>
          <li><%= link_to "Terms", terms_path %>
          <li><%= link_to "Privacy", terms_path %>
          <li><a href="blog.54footy.com">Blog</a></li><br>
        </ul>
      </small>
    </nav>
  </footer>
</div>
 
<!-- Terms modal -->
<div id="twitter" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Hey!</h3>
  </div>
  <div class="modal-body">
    <p>Put the twitter down and get back to meaningful work</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<div id="facebook" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Hey!</h3>
  </div>
  <div class="modal-body">
    <p>When did their design and experience get so messy? Oh right when they didn't charge for using'</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<div id="linkedin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Hey!</h3>
  </div>
  <div class="modal-body">
    <p>Their CEO wrote a book called "The startup of you". I mean come on.</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>