
<div class="row">
  <div class="span4 offset4">
    <div class="span4 signup_well">
      <legend> Sign in</legend>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.email_field :email, :placeholder => "Your email" %>
        <%= f.password_field :password, :placeholder => "Your Password" %><br>
        <% if devise_mapping.rememberable? -%>
         <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        <% end -%>
        <%= f.submit "Sign in" %>
      <% end %>
    </div>  
  </div>  
</div>
<div class="offset5"><small><%= render "devise/shared/links" %></small></div>
<div class="container">
  <footer class="footer">
    <small>
      <a href="http://railstutorial.org/">54footy,</a>
      2012 LLC
    </small>
    <nav>
      <small class="pull-right">
        <ul>
          <li><%= link_to "About",   '#' %></li>
          <li><%= link_to "Contact", '#' %></li>
          <li><%= link_to "Terms", '#' %></li>
          <li><a href="blog.54footy.com">Blog</a></li>
        </ul>
      </small>
    </nav>
  </footer>
</div>