<div class="row nav-under-wrapper">
  <% if !user_signed_in? %>
    <ul class="nav-under-not-home pull-right">
     <li><%= link_to "Home", root_path  %></li>  
     <li><%= link_to "What it does", does_path  %></li>
     <li><%= link_to "Benefits of using", benefits_path  %></li>
     <li id="right-link"><%= link_to "What it costs", pricing_path  %></li>
    <% end %>
  </ul>
</div>
<div class="row" style="margin-top: 60px;">
  <div class="span4 offset4">
    <div class="span4 signup_well">
      <legend> Sign in</legend>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.email_field :email, :placeholder => "Your email" %>
        <%= f.password_field :password, :placeholder => "Your Password" %><br>
        <% if devise_mapping.rememberable? -%>
         <%= f.check_box :remember_me %> <span class="help-inline"><%= f.label :remember_me %></span><br><br>
        <% end -%>
        <%= f.submit "Sign in", :class => "btn" %>
      <% end %>
    </div>  
  </div>  
</div>
<div class="offset5"><small><%= render "devise/shared/links" %></small></div>
<div class="container">
  <footer class="footer">
    <small class="pull-left">
      <ul>
        <li><a href="#about" data-toggle="modal">fivefourfooty,</a> 2013</li><br>
        <li><%= link_to image_tag("/assets/twitter.png"), "#twitter", :data => { :toggle =>"modal" } %></li>
        <li><%= link_to image_tag("/assets/facebook.png"), "#facebook", :data => { :toggle =>"modal" } %></li>
        <li><%= link_to image_tag("/assets/linkedin.png"), "#linkedin", :data => { :toggle => "modal" }%></li>
      </ul>
    </small>
    <nav>
      <small class="pull-right">
        <ul>
          <li><%= link_to "About", '#about', :data => { :toggle => "modal"}  %></li>
          <li><a href="mailto:tony@54footy.com">Contact</a></li>
          <li><%= link_to "Terms", terms_path %>
          <li><%= link_to "Privacy", terms_path %>
        </ul>
      </small>
    </nav>
  </footer>
</div>
<div id="twitter" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="span2">
        <%= image_tag "/assets/twitter_lrg.png" %> 
      </div>
      <div class="span4">
        Hey! Put the twitter down and get back to <%= link_to "meaningful work", new_user_registration_path %>.
      </div>  
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<div id="linkedin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <%= image_tag "/assets/linkedin_lrg.png" %> 
    " The startup of you"? I mean come on.
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<div id="facebook" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="span2">
       <%= image_tag "/assets/facebook_lrg.png" %> 
      </div> 
      <div class="span4">
        You're not tired of facebook, you're tired of your friends. <br><br>
        Avoid political views, sports opinions, pictures of babies and food, and get back to <%= link_to "YOUR stuff", new_user_registration_path %>.
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<div id="about" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="span2">
       <%= image_tag "/assets/about.png" %> 
      </div> 
      <div class="span4">
        It's less about you or us and more about getting meaningful results.<br><br>
        Whether we're preschoolers that know how to code, Harvard MBA's, or concerned citizens
        that seek to unearth inefficiencies in how we spend our absolutely most valuable resource
        as humans - attention - <%= link_to "we're looking to help", benefits_path %>. <br><br>
        <a href="mailto:tony@54footy.com">Question?</a> We've got a lot of answers. 
        
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>