<!DOCTYPE html>
<html>
<head>
  <title>refreshrunner | A Task Manager You'll Want To Impress</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"%>
  <%= csrf_meta_tags %>
</head>
<body>
  <a title="Real Time Web Analytics" href="http://clicky.com/100580995"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
  <script src="//static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">try{ clicky.init(100580995); }catch(e){}</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100580995ns.gif" /></p></noscript>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="/" class="brand">refreshrunner</a>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to "My Projects", lists_path  %></li>
            <li><%= link_to "Completed Projects", completed_lists_path  %></li>
            <li><%= link_to "Account", edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
          <% else %>
           <li><%= link_to "Sign Up", new_user_registration_path %></li>
           <li><%= link_to "Login", user_session_path %></li>  
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  
<div class="container" style="width:990px; margin-top:40px;">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <button class="close" data-dismiss="alert">x</button>
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="alert alert-error">
      <button class="close" data-dismiss="alert">x</button>
      <%= flash[:alert] %>
    </div>
  <% end %>  
 <%= yield %>
</div>
<%= yield :javascript %>
</body>
</html>
